<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><a href="#">Front End Bookmarks</a> is created by <a href="http://mikecarretta.github.io/" title="Mike Carretta Github Projects">me</a> and the source code is hosted on <a href="#">Github</a>. Based on the <a href="https://thinkster.io/angulartutorial/learn-to-build-realtime-webapps/" title="AngularJS Tutorial: Learn to Build a Real-Time Reddit Clone">Thinkster.io tutorial</a> using <a href="https://angularjs.org/" title="AngularJS — Superheroic JavaScript MVW Framework">AngularJS</a> and <a href="https://www.firebase.com/" title="Firebase - Build Realtime Apps">Firebase</a>.</p>
    </div>
  </div>
</div>