<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="auth-forms">
      <h2>Log In</h2>

      <form ng-submit="login()">
        <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
        <input type="submit" value="Log in" class="btn btn-primary" />

        <alert type="{{alert.type}}" show="alert.show">
          <p><strong>{{alert.message}} {{er}}</strong>: {{mes}} Please try again.</p>
        </alert>

      </form>
    </div>
  </div>
</div>
